/*
	Game Styling 
	by Alessandro Guaresti & Alexis Greene
*/

/* Structure */
div 
{
	margin: 0 auto;
	width: 960px;
}

table tr td 
{
	width: 960px;
	border: solid #2D882D 3px;
	border-radius: 5px;
}

button
{
	margin: 5px 0px 8px 0px;
}

p
{
	margin-top: 0px;
	margin-bottom: 0px;
}

#show
{
	height: 800px;
}

#stat
{
	width: 300px;
	height: 200px;
}
/*Style*/

div
{
	text-align: center;
}

body
{
	background-color: #116611;
}

td
{
	background-color: #55AA55;
}

